<%= form_for(resource, as: resource_name,
             url: registration_path(resource_name),
             html: { method: :put,
                     role: :form,
                     :class => 'col-sm-4 col-sm-offset-4' }) do |f| %>
  <h2>Profile</h2>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email,
                      :class => 'form-control',
                      autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password,
                         :class => 'form-control',
                         autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,
                         :class => 'form-control',
                         autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password %>
    <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password,
                         :class => 'form-control',
                         autocomplete: "off",
                         :required => 'required' %>
  </div>

  <div class="actions">
    <div class="form-group col-sm-6">
      <%= f.submit "Update", :class => 'btn btn-primary' %>
    </div>
    <div class="form-group col-sm-6">
      <%= link_to "Back", :back, :class => 'btn btn-primary' %>
    </div>
  </div>
  <h3>Cancel my account</h3>
  <div class="form-group">
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
                              :class => 'btn btn-danger',
                              data: { confirm: "Are you sure?" },
                              method: :delete %></p>
  </div>

<% end %>
