<%= form_for(resource, as: resource_name,
             url: registration_path(resource_name),
             html: {:class => 'col-sm-4 col-sm-offset-4'},
             :role => 'form') do |f| %>
    <h2>Sign up</h2>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,
                      :class => 'form-control',
                      required: 'required' %>
  </div>

  <div class="field form-group">
    <%= f.label :username %> <br/>
    <%= f.text_field :username,
                     :class => 'form-control',
                     required: 'required' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password,
                         autocomplete: "off",
                         :class => 'form-control',
                         required: 'required' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,
                         autocomplete: "off",
                         :class => 'form-control',
                         required: 'required' %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Sign up", :class => 'btn btn-primary' %>
  </div>
<% end %>
