<%= div_for comment, :class => 'col-sm-8 pull-right' do %>
  <p>    
    <% @user = User.find(comment.user_id) %>
    <b><%= @user.username %></b> commented <%= time_ago_in_words(comment.created_at) %> ago
    <br />
    <%= comment.body %>
  </p>
<% end %>