<div class="row">
  <div class="user-dashboard col-sm-12">
    <% if @username != nil %>
        <h2><%= "#{@username}'s" %> dashboard</h2>
        <hr/>
    <% end %>

    
    <div class="posts-widget col-sm-3 well">
      <% if @posts.present? %>
        <h4>Your current posts</h4>
        <hr />
        <% @posts.each do |post| %>
          <p>
            <%= link_to "#{post.title}", post_path(post) %>
          </p>
        <% end %>
      <% else %>
        <h4>No posts, yet (<%= link_to "Create a post", new_post_path %>)</h4>
      <% end %>
    </div>
  </div>
</div>
