<%= flash[:alert] %>
<%= flash[:notice] %>

<%= form_for [:admin, @post],
              :role => 'form',
              :class => 'col-sm-4 col-sm-offset-4',
              :method => :put do |f| %>
  <div class="field form-group">
      <%= f.label :title %>
      <%= f.text_field :title,
                       autofocus: true,
                       :class => 'form-control',
                       :maxlength => 40 %>
  </div>

  <% if @post.video != "" %>
    <div class="field form-group">
      <%= f.label :video %>
      <%= f.text_field :video, :class => 'form-control' %>
    </div>
  <% else %>
    <div class="field form-group">
      <%= f.label :image %>
      <%= f.text_field :image, :class => 'form-control' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Update', :class => 'btn btn-primary' %>
  </div>
<% end %>
