<div class="posts-section">
  <%= link_to "Add Post", new_admin_post_path,
                          :class => 'add-post btn btn-primary btn-sm pull-right' %>
  <table class="posts-table table table-striped col-sm-6">
    <thead>
    <tr>
      <td>Title</td>
      <td>User</td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.user.username %></td>
          <td>
            <%= link_to "Edit", edit_admin_post_path(post),
                                  :class => 'btn btn-success btn-sm'%>
          </td>
          <td>
            <%= button_to "Delete", admin_post_path(post),
                                    :class => 'btn btn-danger btn-sm',
                                    data: { confirm: "Are you sure?" },
                                    method: :delete %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
