<%= form_for [:admin, @user], html: {role: 'form', class: 'col-sm-4 col-sm-offset-4'} do |f| %>
  <h4>Add User</h4>
  <%= notice %>
  <%= alert %>
  <hr>
  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email,
                      autofocus: true,
                      :class => 'form-control',
                      :required => 'required' %>
  </div>

  <div class="field form-group">
    <%= f.label :username %>
    <%= f.text_field :username,
                     :class => 'form-control',
                     :required => 'required' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <%= f.password_field :password,
                         :class => 'form-control',
                         :required => 'required' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,
                         autocomplete: "off",
                         :class => 'form-control',
                         :required => 'required' %>
  </div>

  <div class="field form-group">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </div>

  <div class="actions">
    <%= f.submit 'Add User', :class => 'btn btn-primary' %>
  </div>
<% end %>
