<%= form_for(resource, as: resource_name,
             url: session_path(resource_name),
             html: {:class => 'col-sm-4 col-sm-offset-4'},
             :role => 'form') do |f| %>
    <h2>Log in</h2>
    <%= devise_error_messages! %>

    <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email,
                      :class => 'form-control',
                      autofocus: true,
                      :required => 'required' %>
  </div>

  <div class="field form-grup">
    <%= f.label :password %><br />
    <%= f.password_field :password,
                         :class => 'form-control',
                         autocomplete: "off",
                         :required => 'required' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions form-group">
    <%= f.submit "Log in", :class => 'btn btn-primary' %>
  </div>
<% end %>
