<div class="row">
  <%= form_for(@post, 
              html: {class: 'col-md-5 col-md-offset-4 post-form', 
                     role: 'form'}) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <% if action_name == 'edit' %>
      <% if @post.video != "" %>
        <%= embed(@post.video) %>
      <% else %>
        <%= image_tag "#{@post.image}", :class => "img-responsive" %>
      <% end %>
    <% end %>

    <div class="field form-group post-title">
      <%= f.label :title %><br>
      <%= f.text_field :title,
                       autofocus: true,
                       :class => 'form-control',
                       :required => 'required',
                       :maxlength => 40 %>
    </div>
  
    <div class="field form-group image-field">
      <%= f.label "#{:image} url" %><br>
      <%= f.text_field :image,
                       :class => 'form-control' %>
    </div>

    <div class="field form-group video-field">
      <%= f.label "#{:video} url" %>
      <%= f.text_field :video,
                       :class => 'form-control' %>
    </div>
    
    <div class="field control-group category-field">
      <%= f.label 'Category' %>
      <%= select_tag "post[category_id]",
                     options_from_collection_for_select(Category.all.order(:name), "id", "name", @post.category_id),
                     :class => 'form-control' %>
    </div>

    <div class="actions form-group post-submit">
      <%= f.submit '+',
                   :class => 'btn btn-primary col-sm-2' %>
    </div>
  <% end %>
</div>