<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <h3>Editing <%= @post.title %></h3>
    <%= link_to '', @post, :class => 'btn btn-success fa fa-search fa-lg' %>
    <%= link_to '', posts_path, :class => 'btn btn-primary fa fa-rotate-left fa-lg' %>
  </div>
</div>

<%= render 'form' %>


