<div class="row">
  <div class="col-md-12">
    <%= link_to '', new_post_path, :class => 'btn btn-primary pull-left fa fa-pencil fa-lg' %>
    <%= form_for posts_path, method: 'get',
                             id: 'filter-form',
                             html: {class: 'filter filter-form col-md-4 pull-right'},
                             role: 'form' do %>
      <div class="field control-group">
        <%= select_tag "category_id",
                       options_from_collection_for_select(Category.all.order(:name), "id", "name", params[:category_id] || ""),
                       :prompt => 'All Categories',
                       :class => 'form-control col-md-9',
                       :onchange => "this.form.submit();" %>
      </div>
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4 post-container align-center">
      <h4>
        <%= link_to "#{post.title}", post_path(post) %>
      </h4>
      <% if post.video != "" %>
        <%= embed(post.video) %>
      <% else %>
        <%= image_tag("#{post.image}", class: 'img-responsive') %>
      <% end %>
      <br />
      <span class="text-muted">
        Posted <%= time_ago_in_words(post.created_at) %> ago by 
        <b>
          <% if post.user %>
            <%= post.user.username %>
          <% else %>
            an anonymous member
          <% end %>
        </b>
      </span>
      <br />
      <div class="actions">
        <%= link_to "", post_path(post), :class => 'btn btn-primary action fa fa-search fa-lg' %>
        <% if current_user.id == post.user_id %>
          <%= link_to '', edit_post_path(post), :class => 'btn btn-success fa fa-edit fa-lg' %>
          <%= link_to '', post,
                                    :class => 'btn btn-danger fa fa-eraser fa-lg',
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>