<div class="row">
  <div class="col-md-4 col-md-offset-4 new-post" id="new-post">
    <h3>New post</h3>
      <button class="add-image btn btn-primary fa fa-image fa-lg" onclick="addImage()"></button>
      <button class="add-video btn btn-primary fa fa-film fa-lg" onclick="addVideo()"></button>

      <%= link_to '', url_for(:back), :class => 'btn btn-primary fa fa-rotate-left fa-lg' %>
  </div>
</div>

<%= render 'form' %>

