<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12 col-sm-offset-1 view-post">
    <h3>
      <%= @post.title %>
    </h3>
    <% unless current_user.id != @post.user_id %>
      <%= link_to '', edit_post_path(@post), :class => 'btn btn-success fa fa-edit fa-lg' %>
    <% end %>
    <%= link_to '', url_for(:back), :class => 'btn btn-primary fa fa-rotate-left fa-lg' %>
    
    <% if @post.video != "" %>
      <div class="post-video">
        <%= lg_embed(@post.video) %>
      </div>
    <% else %>
      <%= image_tag @post.image, :title => @post.title, :class => "img-responsive" %>
    <% end %>
    
    <h2>Comments</h2>
    <hr class="col-sm-9" />
    <div id="comments">
      <%= form_for [@post, Comment.new], html: {class: 'form col-sm-4', role: 'form'} do |f| %>
        <p class="form-group">
          <%= f.label :body, "New Comment" %>
          <%= f.text_area :body, :class => 'form-control', :required => 'required' %>
        </p>
        <p>
          <%= f.submit "+", :class => 'btn btn-primary col-sm-2' %>
        </p>
      <% end %>
      <%= render :partial => @post.comments %>
    </div>
  </div>
</div>

