// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users-section {
  margin-top: 20px;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
