@media (min-width: 1024px) {
  .chat-container {
  	position: fixed;
  	top: 19%;
  	right: 5px;
  	height: 500px;
  	width: 300px;
  	z-index: 999;
    
  	.chat-button {
      border-radius: 50px;
      height: 50px;
  		position: fixed;
  		right: 20px;
  		top: 19%;
  		transition: 1s ease;

  		&:focus {
  			outline: none;
  		}
  	}

  	.chat-area {
  		height: 90%;
      background-color: rgba(0, 0, 0, .5);
  		display: none;
  		color: #fff;
      overflow: scroll;
      padding-bottom: 5px;
  	}

  	#chat-message {
  		bottom: 0;
  		height: 10%;
  		display: none;
  		width: 300px;
      color: #fff;
      background-color: rgba(0, 0, 0, .5);
      padding: 10px;
  	}
  }
  .hide-chat {
  	display: none;
  }
  .show-chat {
  	display: block !important;
  }
  .warp-button {
  	border-radius: 0px !important;
  	right: 310px !important;
  	transition: 1s ease;
  }
}

@media (max-width: 1024px) {
  .chat-container {
    display: none;
    z-index: 0;
  }
}