// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// hide this initially when creating a post
.post-title, .post-submit, .image-field, .video-field, .category-field {
  display: none;
}
.post-video, .post-image, .post-form, .actions, .text-muted {
  margin-top: 20px;
}
.post-container {
  margin-bottom: 30px;
  iframe {
    margin-bottom: 12px;
  }
}
.view-post {
  img {
    margin: 20px 0 0 0;
  }
}