<%= flash[:alert] %>
<%= flash[:notice] %>

<%= form_for [:admin, @user],
              :role => 'form',
              :class => 'col-sm-4 col-sm-offset-4',
              :method => :put do |f| %>
    <div class="field form-group">
        <%= f.label :email %>
        <%= f.email_field :email,  autofocus: true, :class => 'form-control'%>
    </div>

    <div class="field form-group">
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :admin %>
      <%= f.check_box :admin, :class => 'checkbox' %>
    </div>

    <div class="actions">
      <%= f.submit 'Update', :class => 'btn btn-primary' %>
    </div>
<% end %>
