<div class="users-section">
  <%= link_to "Add User", new_admin_user_path, :class => 'add-user btn btn-primary btn-sm pull-right' %>
  <table class="users-table table table-striped col-sm-6">
    <thead>
    <tr>
      <td>Email</td>
      <td>Created On</td>
      <td>Admin</td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.admin %></td>
          <td>
            <%= link_to "Edit", edit_admin_user_path(user),
                                  :class => 'btn btn-success btn-sm'%>
          </td>
          <td>
            <%= button_to "Delete", admin_user_path(user),
                                    :class => 'btn btn-danger btn-sm',
                                    data: { confirm: "Are you sure?" },
                                    method: :delete %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
