<%= form_for([:admin, @user], 
              :role => 'form',
              :method => :put,
              html: {class: 'col-sm-4 col-sm-offset-4'}) do |f| %>
  <h2>Profile</h2>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email,
                      :class => 'form-control',
                      autofocus: true %>
  </div>

  <div class="field form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username,
                      :class => 'form-control',
                      autofocus: true %>
  </div>

  <div class="field form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password,
                         :class => 'form-control',
                         autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,
                         :class => 'form-control',
                         autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password %>
    <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password,
                         :class => 'form-control',
                         autocomplete: "off",
                         :required => 'required' %>
  </div>

  <div class="actions form-group col-sm-6">
    <%= f.submit "Update", :class => 'btn btn-primary' %>
  </div>
    <div class="form-group col-sm-6">
      <%= link_to "Back", :back, :class => 'btn btn-primary' %>
    </div>
    <h3>Cancel my account</h3>
    <div class="form-group">
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(@user),
                                :class => 'btn btn-danger',
                                data: { confirm: "Are you sure?" },
                                method: :delete %></p>
    </div>

<% end %>