<% if user_signed_in? %>
  <section class="chat-container">
  	<button class="chat-button btn btn-success">
  	  <span class="fa fa-weixin fa-lg"></span>
  	</button>
  	<div class="chat-area">
		
  	</div>
  	<input type="text" id="chat-message" placeholder="Message">
  </section>
<% end %>