<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">berb.</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="<%= 'active' if params[:controller] == 'welcome' %>">
          <%= link_to "", root_path, :class => 'fa fa-home fa-lg' %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'posts' %>">
          <%= link_to '', posts_path, :class => 'fa fa-newspaper-o fa-lg' %>
        </li>
      <% end %>
    </ul>
    <!-- <form class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form> -->
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user.admin %>
              <li>
                <%= link_to "", edit_user_registration_path, :class => 'fa fa-male fa-lg' %>
              </li>
              <li>
                <%= link_to 'God Mode', '/admin' %>
              </li>
            <% else %>
              <li>
                <%= link_to '', edit_user_registration_path, :class => 'fa fa-male fa-lg' %>
              </li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to '', destroy_user_session_path, :method => :delete, :class => 'fa fa-power-off fa-lg' %>
            </li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>
        </li>
        <li>
          <%= link_to('Register', new_user_registration_path)  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
