<!DOCTYPE html>
<html>
  <head>
    <title>berb.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">
      <ul class="nav nav-pills">
        <li role="presentation" class="<%= 'active' if params[:controller] == 'admin/users' %>">
          <%= link_to "Users", admin_users_path %>
        </li>
        <li role="presentation" class="<%= 'active' if params[:controller] == 'admin/posts' %>">
          <%= link_to "Posts", admin_posts_path %>
        </li>
      </ul>
      <%= yield %>
    </div>
    <%= render 'layouts/chat' %>
  </body>
</html>
